Repository The-Standard-Organization/GitFyle.Core.Api, pull requests merged in 2024-09, with the labels that each got.

#170 FOUNDATIONS: Source - `RetrieveByIdAsync`
  GitFyle.Core.Api.Tests.Unit/Services/Foundations/Sources/SourceServiceTests.Exceptions.RetrieveById.cs
  GitFyle.Core.Api.Tests.Unit/Services/Foundations/Sources/SourceServiceTests.Logic.RetrieveById.cs
  GitFyle.Core.Api.Tests.Unit/Services/Foundations/Sources/SourceServiceTests.Validations.RetrieveById.cs
  GitFyle.Core.Api/Models/Foundations/Sources/Exceptions/NotFoundSourceException.cs
  GitFyle.Core.Api/Services/Foundations/Sources/ISourceService.cs
  GitFyle.Core.Api/Services/Foundations/Sources/SourceService.Exceptions.cs
  GitFyle.Core.Api/Services/Foundations/Sources/SourceService.Validations.cs
  GitFyle.Core.Api/Services/Foundations/Sources/SourceService.cs
Labels: FOUNDATIONS

#172 FOUNDATIONS: Source - `RetrieveAllAsync`
  GitFyle.Core.Api.Tests.Unit/Services/Foundations/Sources/SourceServiceTests.Exceptions.RetrieveAll.cs
  GitFyle.Core.Api.Tests.Unit/Services/Foundations/Sources/SourceServiceTests.Logic.RetrieveAll.cs
  GitFyle.Core.Api.Tests.Unit/Services/Foundations/Sources/SourceServiceTests.Validations.RetrieveById.cs
  GitFyle.Core.Api.Tests.Unit/Services/Foundations/Sources/SourceServiceTests.cs
  GitFyle.Core.Api/Services/Foundations/Sources/ISourceService.cs
  GitFyle.Core.Api/Services/Foundations/Sources/SourceService.Exceptions.cs
  GitFyle.Core.Api/Services/Foundations/Sources/SourceService.Validations.cs
  GitFyle.Core.Api/Services/Foundations/Sources/SourceService.cs
Labels: FOUNDATIONS

#182 DATA: Aligned audit property names and generated migration
  GitFyle.Core.Api/Brokers/Storages/StorageBroker.Configurations.Configuration.cs
  GitFyle.Core.Api/Migrations/20240912185441_AddInitialMigration.Designer.cs
  GitFyle.Core.Api/Migrations/20240912185441_AddInitialMigration.cs
  GitFyle.Core.Api/Migrations/StorageBrokerModelSnapshot.cs
  GitFyle.Core.Api/Models/Foundations/Configurations/Configuration.cs
Labels: DATA

#174 FOUNDATIONS: Contribution - AddAsync
  GitFyle.Core.Api.Tests.Unit/Services/Foundations/Contributions/ContributionServiceTests.Exceptions.Add.cs
  GitFyle.Core.Api.Tests.Unit/Services/Foundations/Contributions/ContributionServiceTests.Logic.Add.cs
  GitFyle.Core.Api.Tests.Unit/Services/Foundations/Contributions/ContributionServiceTests.Validations.Add.cs
  GitFyle.Core.Api.Tests.Unit/Services/Foundations/Contributions/ContributionServiceTests.cs
  GitFyle.Core.Api/Migrations/20240909183752_AddedInternalAuditPropertiesForContribution.Designer.cs
  GitFyle.Core.Api/Migrations/20240909183752_AddedInternalAuditPropertiesForContribution.cs
  GitFyle.Core.Api/Models/Foundations/Contributions/Exceptions/AlreadyExistsContributionException.cs
  GitFyle.Core.Api/Models/Foundations/Contributions/Exceptions/ContributionDependencyException.cs
  GitFyle.Core.Api/Models/Foundations/Contributions/Exceptions/ContributionDependencyValidationException.cs
  GitFyle.Core.Api/Models/Foundations/Contributions/Exceptions/ContributionServiceException.cs
  GitFyle.Core.Api/Models/Foundations/Contributions/Exceptions/ContributionValidationException.cs
  GitFyle.Core.Api/Models/Foundations/Contributions/Exceptions/FailedOperationContributionException.cs
  GitFyle.Core.Api/Models/Foundations/Contributions/Exceptions/FailedServiceContributionException.cs
  GitFyle.Core.Api/Models/Foundations/Contributions/Exceptions/FailedStorageContributionException.cs
  GitFyle.Core.Api/Models/Foundations/Contributions/Exceptions/InvalidContributionException.cs
  GitFyle.Core.Api/Models/Foundations/Contributions/Exceptions/NullContributionException.cs
  GitFyle.Core.Api/Program.cs
  GitFyle.Core.Api/Services/Foundations/Contributions/ContributionService.Exceptions.cs
  GitFyle.Core.Api/Services/Foundations/Contributions/ContributionService.Validations.cs
  GitFyle.Core.Api/Services/Foundations/Contributions/ContributionService.cs
  GitFyle.Core.Api/Services/Foundations/Contributions/IContributionService.cs
Labels: FOUNDATIONS

#179 FOUNDATIONS: Source - `RemoveByIdAsync`
  GitFyle.Core.Api.Tests.Unit/Services/Foundations/Sources/SourceServiceTests.Exceptions.RemoveById.cs
  GitFyle.Core.Api.Tests.Unit/Services/Foundations/Sources/SourceServiceTests.Logic.RemoveById.cs
  GitFyle.Core.Api.Tests.Unit/Services/Foundations/Sources/SourceServiceTests.Validations.Add.cs
  GitFyle.Core.Api.Tests.Unit/Services/Foundations/Sources/SourceServiceTests.Validations.Modify.cs
  GitFyle.Core.Api.Tests.Unit/Services/Foundations/Sources/SourceServiceTests.Validations.RemoveById.cs
  GitFyle.Core.Api.Tests.Unit/Services/Foundations/Sources/SourceServiceTests.cs
  GitFyle.Core.Api/Services/Foundations/Sources/ISourceService.cs
  GitFyle.Core.Api/Services/Foundations/Sources/SourceService.Validations.cs
  GitFyle.Core.Api/Services/Foundations/Sources/SourceService.cs
Labels: FOUNDATIONS

#185 FOUNDATIONS: Configuration - RetrieveAllConfigurationsAsync
  GitFyle.Core.Api.Tests.Unit/Services/Foundations/Configurations/ConfigurationServiceTests.Exceptions.Add.cs
  GitFyle.Core.Api.Tests.Unit/Services/Foundations/Configurations/ConfigurationServiceTests.Exceptions.RetrieveAll.cs
  GitFyle.Core.Api.Tests.Unit/Services/Foundations/Configurations/ConfigurationServiceTests.Logic.RetrieveAll.cs
  GitFyle.Core.Api.Tests.Unit/Services/Foundations/Configurations/ConfigurationServiceTests.Validations.Add.cs
  GitFyle.Core.Api.Tests.Unit/Services/Foundations/Configurations/ConfigurationServiceTests.cs
  GitFyle.Core.Api.Tests.Unit/Services/Foundations/Sources/SourceServiceTests.Exceptions.RemoveById.cs
  GitFyle.Core.Api.Tests.Unit/Services/Foundations/Sources/SourceServiceTests.Validations.RemoveById.cs
  GitFyle.Core.Api/Services/Foundations/Configurations/ConfigurationService.Exceptions.cs
  GitFyle.Core.Api/Services/Foundations/Configurations/ConfigurationService.Validations.cs
  GitFyle.Core.Api/Services/Foundations/Configurations/ConfigurationService.cs
  GitFyle.Core.Api/Services/Foundations/Configurations/IConfigurationService.cs
  GitFyle.Core.Api/Services/Foundations/Contributions/ContributionService.Exceptions.cs
  GitFyle.Core.Api/Services/Foundations/Contributions/ContributionService.Validations.cs
  GitFyle.Core.Api/Services/Foundations/Contributions/ContributionService.cs
  GitFyle.Core.Api/Services/Foundations/Contributions/IContributionService.cs
Labels: FOUNDATIONS

#193 CODE RUB: Source Controller Namespace Standardized
  GitFyle.Core.Api/Controllers/SourcesController.cs
Labels: CODE RUB

#195 FOUNDATIONS: Configuration - RetrieveConfigurationByIdAsync
  GitFyle.Core.Api.Tests.Unit/Controllers/Sources/SourcesControllerTests.Exception.Posts.cs
  GitFyle.Core.Api.Tests.Unit/Controllers/Sources/SourcesControllerTests.Logic.Posts.cs
  GitFyle.Core.Api.Tests.Unit/Controllers/Sources/SourcesControllerTests.cs
  GitFyle.Core.Api.Tests.Unit/Services/Foundations/Configurations/ConfigurationServiceTests.Exceptions.Add.cs
  GitFyle.Core.Api.Tests.Unit/Services/Foundations/Configurations/ConfigurationServiceTests.Exceptions.RetrieveById.cs
  GitFyle.Core.Api.Tests.Unit/Services/Foundations/Configurations/ConfigurationServiceTests.Logic.RetrieveById.cs
  GitFyle.Core.Api.Tests.Unit/Services/Foundations/Configurations/ConfigurationServiceTests.Validations.RetrieveById.cs
  GitFyle.Core.Api/Models/Foundations/Configurations/Exceptions/NotFoundConfigurationException.cs
  GitFyle.Core.Api/Services/Foundations/Configurations/ConfigurationService.Exceptions.cs
  GitFyle.Core.Api/Services/Foundations/Configurations/ConfigurationService.Validations.cs
  GitFyle.Core.Api/Services/Foundations/Configurations/ConfigurationService.cs
  GitFyle.Core.Api/Services/Foundations/Configurations/IConfigurationService.cs
  GitFyle.Core.Api/Services/Foundations/Repositories/RepositoryService.Validations.cs
Labels: FOUNDATIONS

#186 FOUNDATIONS: Contribution-RetrieveAllAsync
  GitFyle.Core.Api.Tests.Unit/Services/Foundations/Contributions/ContributionServiceTests.Exceptions.RetrieveAll.cs
  GitFyle.Core.Api.Tests.Unit/Services/Foundations/Contributions/ContributionServiceTests.Logic.RetrieveAll.cs
  GitFyle.Core.Api.Tests.Unit/Services/Foundations/Contributions/ContributionServiceTests.cs
  GitFyle.Core.Api/Services/Foundations/Contributions/ContributionService.Exceptions.cs
  GitFyle.Core.Api/Services/Foundations/Contributions/ContributionService.cs
  GitFyle.Core.Api/Services/Foundations/Contributions/IContributionService.cs
Labels: FOUNDATIONS

#187 FOUNDATIONS: Contribution-RetrieveByIdAsync
  GitFyle.Core.Api.Tests.Unit/Services/Foundations/Contributions/ContributionServiceTests.Exceptions.RetrieveById.cs
  GitFyle.Core.Api.Tests.Unit/Services/Foundations/Contributions/ContributionServiceTests.Logic.RetrieveById.cs
  GitFyle.Core.Api.Tests.Unit/Services/Foundations/Contributions/ContributionServiceTests.Validations.RetrieveById.cs
  GitFyle.Core.Api/Models/Foundations/Contributions/Exceptions/NotFoundContributionException.cs
  GitFyle.Core.Api/Services/Foundations/Contributions/ContributionService.Exceptions.cs
  GitFyle.Core.Api/Services/Foundations/Contributions/ContributionService.Validations.cs
  GitFyle.Core.Api/Services/Foundations/Contributions/ContributionService.cs
  GitFyle.Core.Api/Services/Foundations/Contributions/IContributionService.cs
Labels: FOUNDATIONS
