Repository The-Standard-Organization/GitFyle.Core.Api, pull requests merged in 2024-06, with the labels that each got.

#9 INFRA: Initialize API Project
  .gitignore
  GitFyle.Core.Api/GitFyle.Core.Api.sln
  GitFyle.Core.Api/GitFyle.Core.Api/Controllers/HomeController.cs
  GitFyle.Core.Api/GitFyle.Core.Api/GitFyle.Core.Api.csproj
  GitFyle.Core.Api/GitFyle.Core.Api/GitFyle.Core.Api.http
  GitFyle.Core.Api/GitFyle.Core.Api/Program.cs
  GitFyle.Core.Api/GitFyle.Core.Api/Properties/launchSettings.json
  GitFyle.Core.Api/GitFyle.Core.Api/appsettings.json
Labels: INFRA

#23 DOCUMENTATION: Fix Broken Logo Link
  README.md
Labels: DOCUMENTATION

#37 BROKERS: LoggingBroker - LogInformation
  GitFyle.Core.Api/Brokers/Loggings/ILoggingBroker.cs
  GitFyle.Core.Api/Brokers/Loggings/LoggingBroker.cs
  GitFyle.Core.Api/Program.cs
Labels: BROKERS

#41 BROKERS: LoggingBroker - LogTrace
  GitFyle.Core.Api/Brokers/Loggings/ILoggingBroker.cs
  GitFyle.Core.Api/Brokers/Loggings/LoggingBroker.cs
Labels: BROKERS

#42 BROKERS: loggingBroker-LogDebug
  GitFyle.Core.Api/Brokers/Loggings/ILoggingBroker.cs
  GitFyle.Core.Api/Brokers/Loggings/LoggingBroker.cs
Labels: BROKERS

#43 BROKERS: LoggingBroker-LogWarning
  GitFyle.Core.Api/Brokers/Loggings/ILoggingBroker.cs
  GitFyle.Core.Api/Brokers/Loggings/LoggingBroker.cs
Labels: BROKERS

#46 BROKERS: loggingBroker-LogError
  GitFyle.Core.Api/Brokers/Loggings/ILoggingBroker.cs
  GitFyle.Core.Api/Brokers/Loggings/LoggingBroker.cs
Labels: BROKERS

#44 BROKERS: LoggingBroker - LogCritical
  GitFyle.Core.Api/Brokers/Loggings/ILoggingBroker.cs
  GitFyle.Core.Api/Brokers/Loggings/LoggingBroker.cs
Labels: BROKERS
